<main id="body">
    <h2>Réinitialisation de Mot de Passe</h2>
    <!--Formulaire de Réinitialisation de mot de passe-->
    <div id="resetForm">
        <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
            <!--Input du formulaire & Bouton Valider-->
            <div class="input">
                <input type="text" placeholder="Email" [formControl]="email">
            </div>
            <p *ngIf="email.dirty && (email.hasError('required') || email.hasError('email'))">
                Email Invalide
            </p>
            <button class="btn-pw" [disabled]="email.hasError('required') || email.hasError('email')">Réinitialiser mon Mot de Passe</button>
            <p>{{msgError}}</p>
        </form>
    </div>
    <div id="boutonReturn">
        <!--Redirection vers la page de login-->
        <button (click)="onReturn()">Retour</button>
    </div>
</main>
