h2 {
    color: #175242;
    text-align: center;
    font-size: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 2vh;
}

#body {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resetForm {
    background-color: #86CB92;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
    color: #175242;
    font-size: 2.5vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button {
    color: #F18F01;
    background-color: #175242;
    border: #175242;
    border-radius: 6px;
    margin-top: 2em;
    padding: 1em;
    font-size: 0.7em;
    font-weight: bold;
    cursor: pointer;
}

form button:disabled {
    background-color: #7a827d;
}

p {
    color: red;
}

.input {
    flex-wrap: wrap;
    border: #86CB92;
    font-size: 2.5vh;
    margin-top: 3vh;
    width: 100%;
}

#boutonReturn {
    margin-top: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2vh;
}

#boutonReturn button {
    background-color: #175242;
    color: orange;
    width: 20%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
}
