main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contain-bucket {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    margin: 1.9em;
    color: #175242;
    font-size: 2em;
}


/*Contain Left */

.left {
    width: 70%;
    margin-left: 2em;
}

.item-n-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-item-st {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.item {
    display: flex;
    flex-direction: column;
}

.category-item {
    color: #F18F01;
    font-size: 1.2em;
}

.price-item {
    color: rgb(172, 169, 169);
}

.btn-item {
    display: flex;
    width: 50%;
    margin-left: 1em;
    justify-content: space-between;
    align-items: baseline;
}

.btn-item p {
    color: #175242;
    font-size: 1.7em;
}

.btn-item button {
    background-color: #86CB92;
    border-radius: 6px;
    border: 1px solid rgb(199, 198, 198);
    color: #175242;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    cursor: pointer;
}

.sous-total p {
    color: grey;
    padding-left: 1em;
}


/*Contain right*/

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.top {
    background-color: #175242;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F1F1F1;
    font-weight: bold;
}

.auth {
    width: 180px;
    height: 180px;
    border-radius: 90%;
}

.nb-credit {
    font-size: 2.5em;
    color: #F18F01;
}

.top p {
    text-align: center;
}

.bottom {
    display: flex;
    flex-direction: column;
}

.btn {
    color: black;
    padding: 0.8em;
    border-radius: 6px;
    margin: 1em;
    border: none;
    font-weight: 900;
    cursor: pointer;
}

.valid {
    background-color: #86CB92;
}

.valid:disabled {
    background-color: #7a827d;
    cursor: auto;
    text-decoration: none;
}

.delete {
    background-color: #F18F01;
}

.return {
    background-color: #175242;
    color: #F1F1F1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 80%;
}


/* Tooltip text */

.fa-exclamation-circle {
    color: #94073d;
}

.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.valid-bucket:hover .tooltiptext {
    visibility: visible;
}

@media screen and (min-width: 300px) and (max-width: 1020px) {
    .contain-bucket {
        flex-direction: column-reverse;
    }
    .right {
        flex-direction: row;
        width: 100%;
    }
    .auth {
        width: 130px;
        height: 130px;
        font-size: 0.9em;
        margin-left: 1em;
    }
    .auth p {
        margin: 0;
    }
    .nb-credit {
        font-size: 1em;
        margin: 0;
    }
}

@media screen and (min-width: 300px) and (max-width: 590px) {
    .contain-bucket {
        width: 98%;
        margin: auto;
    }
    .left {
        width: 100%;
        margin-left: 0;
    }
    .contain-left {
        width: 98%;
    }
    .item-n-btn {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .item {
        width: 100%;
    }
    .btn-item-st {
        width: 100%;
    }
    .btn-item {
        width: 100%;
        margin-left: 0;
    }
}
